<ion-item-sliding>
  <ion-item>
    <!-- Task checkbox and label. -->
    <span slot="start" class="checkbox-container">
      <ion-checkbox checked="{{ data.checked }}" (ionChange)="check()"></ion-checkbox>
    </span>
    <ion-label (click)="revealDesc()">
      <div *ngIf="data.checked"><s>{{ data.title }}</s></div>
      <div *ngIf="!data.checked">{{ data.title }}</div>
    </ion-label>

    <!-- Drop down description icon. -->
    <ion-icon
      *ngIf="!hideDesc && showDesc" (click)="revealDesc()" class="task-icon"
      size="large" color="primary" mode="md" name="arrow-dropdown">
    </ion-icon>
    <ion-icon
      *ngIf="!hideDesc && !showDesc" (click)="revealDesc()" class="task-icon"
      size="large" color="primary" mode="md" name="arrow-dropup">
    </ion-icon>
  </ion-item>

  <!-- Delete option. -->
  <ion-item-options side="end">
    <ion-item-option color="danger" (click)="deleteTask()">Delete</ion-item-option>
  </ion-item-options>
</ion-item-sliding>

<!-- Task description. -->
<div *ngIf="showDesc">
  <p class="task-desc">{{ data.desc }}</p>
  <hr class="task-divider"/>
</div>